<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <!-- <div style="margin: 16px; border: 1px solid black; padding: 16px">
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <app-phone-number-picker
            formControlName="tel"
            required
          ></app-phone-number-picker>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
      </div> -->
    </div>
    <!-- <div class="divider" role="separator" aria-label="Divider"></div>
    <div style="margin: 16px; border: 1px solid black; padding: 16px">
      <form-field-custom-control-example></form-field-custom-control-example>
    </div> -->
    <!-- <div class="divider" role="separator" aria-label="Divider"></div> -->
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
    <button mat-raised-button>Basic</button>
    <div class="divider" role="separator" aria-label="Divider"></div>
  </div>
</main>

<router-outlet />
